{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/web/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="top">
        {{ template "top" . }}
    </div>
    <div id="content">
        {{ template "content" . }}
    </div>
    <div id="bottom">
        {{ template "bottom" . }}
    </div>
</body>
</html>
{{ end }}

{{ define "bottom" }}
    {{ .Total }}
{{ end }}

{{ define "top" }}
<nav>
    <a href="/home">Home</a>
</nav>
{{ end }}
