{{ define "content" }}
    <a href="/create">New Trade</a>
    <div id="trades">
    {{ range .Trades }}
        <form action="/trade" method="POST" class="trade">
            <p>Offering: {{ .Material }} {{ .Amount }}</p>
            <p>For: {{ .MaterialReq }} {{ .AmountReq }}</p>
            <input type="submit" value="Trade">
            <input type="hidden" name="id" value={{ .ID }}>
        </form>
    {{ end }}
    </div>
{{ end }}
